@model ITCR.DATIC.SistemaHorasConsulta.Modelo.Horario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHorario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
