@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Modelo.Horario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Lista de Horarios</h2>

<p>
    @Html.ActionLink("Agregar Horario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Hora de Inicio
        </th>
        <th>
            Hora Final
        </th>
        <th>
            Día
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdHorario }) |
       
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdHorario })
        </td>
    </tr>
}

</table>
