@using PagedList;
@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Modelo.Tematica>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Lista de Temáticas</h2>
 
<p>
    @Html.ActionLink("Agregar Temática", "Create")
</p>
            
     



<style> 

input[type=text] {
 width: 130px;
 box-sizing: border-box;
 border: 2px solid #ccc;
 border-radius: 4px;
 font-size: 16px;
 background-color: white;
 background-image: url('lupa.png');
 background-position: 10px 10px; 
 background-repeat: no-repeat;
 padding: 12px 20px 12px 40px;
 -webkit-transition: width 0.4s ease-in-out;
 transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
 width: 100%;
}
</style>
<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTematica)
        </th>
        <th>
            Descripción
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTematica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTematica }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdTematica })
       
        </td>
    </tr>
}

</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>