@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Modelo.Lugare>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Lista de Lugares</h2>

<p>
    @Html.ActionLink("Agregar Lugar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdLugar }) |
        
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdLugar })
        </td>
    </tr>
}

</table>
