@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.Lugares>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Lista de Lugares</h2>

<p>
    @Html.ActionLink("Agregar Lugar", "Create")
</p>
<div style="margin-bottom: 10px;">
    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Nombre de Lugar" title="Type in a name" style="max-width:100%;">
</div>


<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdLugar }) |

                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdLugar })
            </td>
        </tr>
    }

</table>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>