@model ITCR.DATIC.SistemaHorasConsulta.Modelo.Profesore

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Detalles de @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.PrimerApellido) @Html.DisplayFor(model => model.SegundoApellido)</h2>

<div>

    <hr />

    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="card2-avatar pull-center">
                    <div class="image ">
                        @if (Session["Foto"] != null)
                        {
                            <img style="height: 5em;width: 4.5em" id="fotoEstudiante" src="data:image/png;base64,@Session["FOTO"]" class="img-circle center-block" alt="Usuario" />
                        }
                        else
                        {
                            <img style="height: 5em;width: 4.5em" id="fotoEstudiante" src="~/Content/Imagenes/user1.png" class="img-circle center-block" alt="Usuario" />
                        }

                    </div>
                </div>
                <div class="card2-body">
                    <!--<h6 class="card2-category text-gray">CEO / Co-Founder</h6>-->


                    <h4 class="card2-title">     </h4>
                    <table class="table">
                        <tr>
                            <th>Campos de atención al estudiante:</th>

                            <th>Correo Electrónico:</th>
                            <th>Ubicación:</th>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.Especialidades)
                            </td>
                            <td>@Html.DisplayFor(model => model.CorreoElectronico)</td>
                            <td>
                                @Html.DisplayFor(model => model.Lugare.Nombre)

                            </td>
                        </tr>

                    </table>
                    <h4 class="card2-title">Horario:</h4>
                    <table class="table">
                        @for (var i = 0; i < Model.Horarios.Count; i++)
                        {
                            <tr>
                                <th>@Html.DisplayFor(model => model.Horarios.ToList()[i].Dia)</th>
                                <th></th>
                             
                            </tr>
                            
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Horarios.ToList()[i].HoraInicio) a @Html.DisplayFor(model => model.Horarios.ToList()[i].HoraFinal)
                                </td>
                                <td >
                                    @Html.ActionLink("Eliminar", "EliminarHorario", new { id = Model.IdProfesor })
                                </td>
                              
                            </tr>
                        }


                    </table>

                </div>


            </div>
        </div>
    </div>
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProfesor }) |
    @Html.ActionLink("Asociar Horario", "AsociarHorario", new { id = Model.IdProfesor })

</p>
