@model ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.Profesor
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Detalles de @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.PrimerApellido) @Html.DisplayFor(model => model.SegundoApellido)</h2>

<div>

    <hr />

    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="card2-avatar pull-center">
                    <div class="image ">
                        @if (Model.Foto != null)
                        {
                            <img style="height: 5em;width: 4.5em" id="fotoEstudiante" src="data:image/png;base64,@Model.Foto" class="img-circle center-block" alt="Usuario" />
                        }
                        else
                        {
                            <img style="height: 5em;width: 4.5em" id="fotoEstudiante" src="~/Content/Imagenes/user1.png" class="img-circle center-block" alt="Usuario" />
                        }

                    </div>
                </div>
                <div class="card2-body">
                    <!--<h6 class="card2-category text-gray">CEO / Co-Founder</h6>-->

                    <input id="IdProfe" type="hidden" hidden value=@Session["IdProfeTemp"]>
                    <h4 class="card2-title">     </h4>
                    <table class="table">
                        <tr>


                            <th>Correo Electrónico:</th>
                            <th>Ubicación:</th>
                        </tr>
                        <tr>

                            <td>@Html.DisplayFor(model => model.CorreoElectronico)</td>
                            <td>
                                @Html.DisplayFor(model => model.NombreLugar)

                            </td>
                        </tr>

                    </table>
                    <h4 class="card2-title">Horario:</h4>
                    <table class="table">
                        @for (var i = 0; i < Model.horarios.Count; i++)
                        {
                            <tr>
                                <th>@Html.DisplayFor(model => model.horarios.ToList()[i].Dia)</th>

                                <th></th>

                            </tr>

                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.horarios.ToList()[i].HoraInicio) a @Html.DisplayFor(model => model.horarios.ToList()[i].HoraFinal)
                                </td>
                                <td>
                                    @Html.ActionLink("Eliminar", "EliminarHorarioProfesor", "Administrador", new { id = Model.horarios.ToList()[i].IdHorario }, null)
                                </td>

                            </tr>
                        }


                    </table>
                    <table class="table" id="tematicas">
                        <tr>
                            <th>Temática</th>

                            <th>Especialidad</th>
                        </tr>
                    </table>
                </div>

                
            </div>
        </div>
    </div>
    </div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProfesor }) |
    @Html.ActionLink("Asociar Temática", "AsociarTematica","Administrador", new { id = Model.IdProfesor }, null) |
    @Html.ActionLink("Asociar Horario", "AsociarHorario", "Administrador", new { id = Model.IdProfesor }, null)


</p>

<script>
        var id = document.getElementById("IdProfe").value
        console.log(id)
        var tematicas = {}
        var idTemp = []
        idTemp.push(id)
       
        $.ajax({
            type: "POST",
            url: "/Estudiante/GetTematicas",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(idTemp),
            dataType: "json",
            success: function (data) {
                console.log(data)
                $.each(data, function (i, v) {
                    $("#tematicas").append(
                        "<tr>" +
                        "<td>" + v.NombreTematica +"</td>" +

                        "<td>" + v.Especialidades + "</td>" +
                        "</tr>"
                    );

                })
         
            },

        });




</script>