@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.Profesor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Lista de profesores</h2>

<p>
    @Html.ActionLink("Agregar Profesor", "Create")
</p>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-xs-4">
        <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Nombre" title="Type in a name" style="max-width:100%;">
    </div>
    <div class="col-xs-4">
        <input type="text" class="form-control" id="myInput2" onkeyup="myFunction2()" placeholder="Correo" title="Type in a name" style="max-width:100%;">
    </div>
    <div class="col-xs-4">
        <input type="text" class="form-control" id="myInput1" onkeyup="myFunction1()" placeholder="Lugar" title="Type in a name" style="max-width:100%;">
    </div>
</div>
<table class="table" id="myTable">
    <tr>

        <th>
            Primer Apellido
        </th>
        <th>
            Segundo Apellido
        </th>
        <th>
            Nombre
        </th>
        <th>
            Correo Electrónico
        </th>

        <th>
            Lugar de atención
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NombreLugar)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdProfesor }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.IdProfesor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProfesor })
        </td>
    </tr>
}

</table>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunction1() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput1");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function myFunction2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>