@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Modelo.Profesore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Lista de profesores</h2>

<p>
    @Html.ActionLink("Agregar Profesor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Primer Apellido 
        </th>
        <th>
            Segundo Apellido
        </th>
     
        <th>
            Correo Electrónico
        </th>
     
        <th>
           Lugar de atención
        </th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
  
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.Lugare.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdProfesor }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.IdProfesor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProfesor })
        </td>
    </tr>
}

</table>
