@model IEnumerable<Modelos.Profesor>
@{
    ViewBag.Title = "Profesores";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}


<table class="table table-striped  table-bordered table-hover table-condensed" style="max-width: 60em">
    <thead>
        <tr class="bg-primary">
            <th class="col-md-4" style="border-radius: 5px 0 0 0 ">
                ID Profesor
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos

            </th>
            <th>
                Correo

            </th>

            <th style="border-radius: 0 5px 0 0; text-align: center ">
                Opciónes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profesor in Model)
        {
            <tr>
                <td>
                    @profesor.IdProfesor
                </td>
                <td>
                    @profesor.Nombre
                </td>
                <td>
                    @profesor.PrimerApellido @profesor.SegundoApellido
                </td>
                <td style="text-align: center">
                    @profesor.CorreoElectronico

                </td>
                <td style="text-align: center">
                
                    @Html.ActionLink("Editar", "TiposImpresionActualizar", new { @class = "btn btn-primary" })
                    @Html.ActionLink("Borrar", "TiposImpresionEliminar", "Home", new { @class = "modal-link btn btn-danger" })
                </td>
            </tr>


        }



    </tbody>
</table>

