@model ITCR.DATIC.SistemaHorasConsulta.Modelo.FeedbackXCita

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PrincipalAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FeedbackXCita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComentarioAdicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentarioAdicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cita.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cita.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
