@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.ProfesoresPorTematica>
@{
    ViewBag.Title = "SeleccionarProfesor";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="container body-content">

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <ul class="collapsible popout" data-collapsible="accordion">
                    @foreach (var profesor in Model)
                    {
                        <li class="">
                            <div class="collapsible-header"> @profesor.PrimerApellido @profesor.SegundoApellido @profesor.NombreProfesor</div>
                            <div class="collapsible-body" style="">
                                <p></p>
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">

                                            <div class="card2 card2-profile">
                                                <div class="card2-avatar">
                                                    <a href="#pablo">
                                                        <img class="img" src="~/assets/Images/Profesores/Jose_Pablo_Bolaños.PNG" />
                                                    </a>
                                                </div>
                                                <div class="card2-body">
                                                    <!--<h6 class="card2-category text-gray">CEO / Co-Founder</h6>-->
                                                
                                                    
                                                            <h4 class="card2-title"> @profesor.PrimerApellido @profesor.SegundoApellido @profesor.NombreProfesor</h4>
                                                            <table class="table">
                                                                <tr>
                                                                    <th>Campos de atención al estudiante:</th>


                                                                    <th>Ubicación:</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        @profesor.Especialidades
                                                                    </td>

                                                                    <td>
                                                                        @profesor.NombreLugar
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                      
                                                            <h4 class="pull-left">Días de atención:</h4>
                                                            <table class="table">
                                                                <tr>
                                                                    @foreach (var i in profesor.horarios)
                                                                    {


                                                                        <th>@i.Dia:</th>


                                                                    }
                                                                </tr>
                                                                <tr>
                                                                    @foreach (var i in profesor.horarios)
                                                                    {

                                                                        <td>
                                                                            @i.HoraInicio a @i.HoraFinal
                                                                        </td>


                                                                    }
                                                                </tr>
                                                                </table>
                                                            
                                                     

                                                            <div class="collapsible-body" style="">
                                                                <p></p>
                                                                @Html.ActionLink("Ver disponibilidad de citas", "Calendario", new { idProfesor = profesor.IdProfesor }, new { @class = "btn btn-primary" })
                                                            </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>


                        </li>
                    }
       

                </ul>




            </div>
        </div>
    </div>
</div>

