@model IEnumerable<ITCR.DATIC.SistemaHorasConsulta.Negocio.Models.PorfesorPorTematica>
@{
    ViewBag.Title = "SeleccionarProfesor";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="container body-content">

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <ul class="collapsible popout" data-collapsible="accordion">
                    @foreach (var profesor in Model)
                    {
                        <li class="">
                            <div class="collapsible-header"> @profesor.PrimerApellido @profesor.SegundoApellido @profesor.Nombre</div>
                            <div class="collapsible-body" style="">
                                <p></p>
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">

                                            <div class="card2 card2-profile">
                                                <div class="card2-avatar">
                                                    <a href="#pablo">
                                                        <img class="img" src="~/assets/Images/Profesores/Jose_Pablo_Bolaños.PNG" />
                                                    </a>
                                                </div>
                                                <div class="card2-body">
                                                    <!--<h6 class="card2-category text-gray">CEO / Co-Founder</h6>-->
                                                    <h4 class="card2-title">Bulgarelli Bolaños José Pablo</h4>
                                                    <table>
                                                        <tr>
                                                            <th>Campos de atención al estudiante</th>
                                                            <th>Dias de atencion</th>
                                                            <th>Horario</th>
                                                            <th>Ubicación</th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Composición y principios de diseño,
                                                                Diseño arquitectónico,
                                                                Sostenibilidad,
                                                                Gestión de proyectos,
                                                                Patrimonio,
                                                                Investigación y extensión
                                                            </td>
                                                            <td>@profesor.Dia</td>
                                                            <td>@profesor.HoraInicio a @profesor.HoraFinal @profesor.IdProfesor </td>
                                                            <td>
                                                                Edificio -SJ2 - Oficina 2
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <div class="collapsible-body" style="">
                                                        <p></p>
                                                        @Html.ActionLink("Ver disponibilidad de citas", "Calendario", new { idProfesor = profesor.IdProfesor }, new { @class = "btn btn-primary" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                        </li>
                    }
       

                </ul>




            </div>
        </div>
    </div>
</div>

